@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: none;
    padding: 15px 0;
    z-index: 1000;
    padding: 20px 30px;
}

.body {
    background: url(./img/2.jpg);
    width: 100%;
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

/*Le dare diseño a la barra de scroll*/
.body::-webkit-scrollbar {
    width: 7px;
    background-color: #d35400;
}

.body::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 5px;
}

.nav {
    display: flex
}

.nav ul {
    display: flex;
}

.nav-list {
    display: flex;
}

.img2,
.img3 img {
    max-width: 100%;
    height: auto;
}

/*Este es el menu*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background-color: transparent;
    transition: background-color 0.6s;
}

header .logo {
    position: relative;

    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header .logo {
    width: 200px;
}

/*Esta da forma al menu en linea*/
header ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: normal;
    transition: 0.6;
}

/*Esta le da efecto al menu sin stiky*/
a {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: #262626;
    transition: .5s;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            transform: scaleY(1);
            opacity: 1;
        }

        &:after {
            transform: scaleY(1);
            opacity: 1;
        }
    }
}

/*esto es para dar funcionalidad en JS*/
header.sticky {
    padding: 15px 50px;
    /* background-color: #fff; Esta linea esta en caso de que se quiera sacar el degrades*/
    background-color: rgba(0, 0, 0, 0.63);
    /*Esta es la transparencia del banner*/
}

/*Este es el banner del menú*/
header.sticky ul li a {
    color: #ffffff;
}

header.sticky ul {
    padding: 5px;
}

/*Esto le da el color a las letras al hacer hover*/
header.sticky ul li a:hover {
    color: #ffa502;
    text-shadow: 0 0 15px #d35400;
}

/*esto es para quitarle los cuadros al sticky*/
header.sticky a {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    transition: .5s;
    z-index: 1;

    &:after {
        content: none;
    }
}

/*esto es el css del codigo de las letras q se mueven y la immagen al lado*/
.main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .contenedor-img {
    max-width: 30%;
    margin-right: 0;
}

.img2 {
    width: 100%;
    height: 100%;
    transition: .5s;
    object-fit: cover;
}

.img :hover {
    transform: scale(1.2);
}

.contenedor-texto .titulo {
    font-size: 55px;
    font-weight: normal;
    margin-bottom: 40px;
}

.contenedor-texto .saludo {
    font-weight: bold;
    color: #ffc106;
    font-style: normal;
}

.cursorChar {
    color: #ffc106;
}

.contenedor-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem;
}


.contenedor-texto .saludo {
    font-weight: bold;
    color: #ffc106;
    font-style: normal;
}

.contenedor-texto p {
    margin-bottom: 40px;
    line-height: 36px;
}

/*Este es el menu pero el logo esto es si el logo es en texto*/
/*header .brand {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    z-index: 100000;
}
*/

/*Este es el video*/
:root {
    --bg-color: #262626;
}

.hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    opacity: .5;
    mix-blend-mode: overlay;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.capa.playing {
    cursor: url('pause.png'), pointer;
}

.capa:not(.playing) {
    cursor: url('play.png'), pointer;
}

#play {
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.controles {
    display: none;
}

.controles img {
    width: 50px;
    height: 50px;
}

.capa:hover .controles,
.hero:hover .controles {
    display: flex;
}

/*Estas son las secciones*/
.sec1 {
    background: url(./img/1.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.sec2-opiniones {
    background: url(./img/2.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

/*Este le da tamaño y forma a las imagenes de las secciones*/
section {
    width: 100%;
    height: 100vh;
}

/*Esta es la sección donde estan los parrafos, y dentro de la misma la p, aca le doy tamaño y color a ese espacio*/
.contain {
    width: 100%;
    height: 250px;
    background: rgb(255, 255, 255);
    text-align: center;
}

/*Esta es la sección donde estan las  P, aca le doy tamaño*/

.contain p {
    font-size: 2.5rem;
    font-family: "lato";
    line-height: 250px;
}

/*Esta es la primera seccion donde van las categorias*/
.content-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: -10px auto 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #ff8502;
}

.content-area .opiniones .title {
    display: flex;
    font-size: 3rem;
    color: var(--white);
    transition: all .6s;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}

/*
.servicios {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    /* Ajusta según el ancho máximo deseado 
}

.servicios h1 {
    /*este es para modificar el h1
    color: #fffb00;
    font-size: 2em;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 70px auto;
    /* Ajusta el margen superior e inferior según sea necesario 
    text-align: center;
}
*/

.concept-seven {
    background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/fries.jpg) top center / cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        letter-spacing: 35px;
        position: relative;

        &:before {
            content: "fries";
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            max-width: 400px;
            color: transparent;
            letter-spacing: 10px;
            text-shadow: none;
        }
    }

    &:hover h1:before {
        transition: 0.6s ease;
        color: rgba(255, 255, 255, 0.8);
        animation: jump-out 0.6s ease forwards;
    }
}

/* Estilo para el h1 dentro de .content-area */
.content-area h1.title {
    font-size: 3rem;
    color: var(--white);
    transition: all .6s;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 35px auto;
    /* Ajusta el margen superior e inferior según sea necesario */
    text-align: center;
}

.sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilo para las sec1.card */
.sec1.card {
    position: relative;
    border-radius: 20px;
    overflow: visible;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    background: transparent;
    border: none;
    width: calc(33.3333% - 40px);
    margin: -20px -2px 40px;
    /* Ajusta los márgenes según tus preferencias */
    box-sizing: border-box;
}

.sec1.card .circle {
    position: absolute;
    width: 120%;
    height: 120%;
    border-radius: 40px;
    background: red;
    clip-path: circle(120px at center);
    transition: .5s;
}

.sec1.card:hover .circle {
    background: blue;
    clip-path: circle(400px at center);
    width: 110%;
    height: 110%;
}

.sec1.card .imgsec1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 290px;
    pointer-events: none;
    transition: .5s;
}

.sec1.card:hover .imgsec1 {
    left: 70%;
    /* este es para donde agarra la imagen */
    height: 300px;
    /* Mantenemos el ajuste de altura para que la imagen se expanda */
}

.sec1.card .content {
    position: relative;
    width: 50%;
    right: 5%;
    padding: 15px;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
    /* Ajusto las propiedades afectadas por la transición */
    opacity: 0;
    visibility: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sec1.card:hover .content {
    transform: translateX(-40%);
    /* Ajustamos el valor del desplazamiento */
    opacity: 1;
    visibility: visible;
}

.sec1.card .content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 0px;
    transition: .5s;
    padding: 15px;
    /* Agregamos transición para el hover */
}

.sec1.card .content p {
    color: white;
    margin-bottom: 5px;
    align-self: flex-start;
    /* Alinea el párrafo a la izquierda */
    transition: .5s;
    /* Agregamos transición para el hover */
}

.sec1.card:hover .content p {
    margin-left: -0%;
    /* Desplaza a la izquierda al hacer hover */
}

.sec1.card .content a {
    position: relative;
    color: white;
    padding: 4px 6px;
    border-radius: 8px;
    background-color: #ffa502;
    margin-top: auto;
    align-self: center;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    /* Tamaño original del texto */
    transition: background-color 0.5s ease, transform 0.5s ease, font-size 0.5s ease;
    /* Añadimos la propiedad font-size para la transición */
}

.sec1.card:hover .content a {
    background-color: #ff8502;
    transform: scale(0.8);
    font-size: 18px;
    /* Tamaño del texto al hacer hover, ajusta según sea necesario */
}

/*esta es la seccion 2 de opiniones*/
.sec2-opiniones {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-area .opiniones h2 {
    font-size: 3em;
    width: 100%;
    margin: -10px auto 80px;
    /* Ajusto el margen superior e inferior y centro horizontalmente con 'auto' */
    text-align: center;
}

/*Este es el efecto de las letras que se mueven*/
.content-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: -10px auto 20px;

    h2 {
        font-size: 4.5rem;
        color: var(--white);
        transition: all .6s;

        &:hover {
            color: var(--darkblue);
        }
    }
}

.sec2-opiniones .swiper-container {
    width: 100%;
    padding-top: 840px;

}

.sec2-opiniones .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 320px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    background: #d1ebff;
    border-radius: 10px;
    transition: transform 0.5s;
    /* Agregamos transición para el efecto suave */
}

.swiper-slide-active {
    filter: blur(0px);
    background: #fff;
    transform: scale(1.1);
    /* Ajustamos el tamaño de la tarjeta activa */
}

.sec2-opiniones .swiper-slide-active {
    filter: blur(0px);
    background: #fff;
}

.testimonialbox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #333;
    /* Cambié el color del texto para mejorar la legibilidad */
}

.testimonialbox .contentopiniones {
    position: relative;
    color: #333;
    /* Cambié el color del texto para mejorar la legibilidad */
}

.testimonialbox .contentopiniones p {
    opacity: 0.8;
    /* Ajusta según sea necesario */
}

.testimonialbox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonialbox .details .imgbox {
    width: 50px;
    /* Ajusta el ancho según sea necesario */
    height: 50px;
    /* Ajusta la altura según sea necesario */
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    /* Ajusta el margen según sea necesario */
}

.testimonialbox .details .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonialbox .details h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;
    margin: 10px 0 0;
}

.testimonialbox .details h3 span {
    font-size: 12px;
    color: #667;
}

.swiper-container {
    overflow: visible !important;
}

/*esto opaca las letras
.hidden {
    opacity: 0;
}
*/

/* donde esta el carrusel de las marcas infinitas*/
/* Estilos específicos para las imágenes más pequeñas en la sección de clientes */
.clientes2 {
    margin: 20px;
}

/* Estilos específicos para el carrusel */
.carrusel {
    height: 100vh;
    overflow: hidden;
}

.carrusel-items {
    display: flex;
    animation: scroll 15s linear infinite;
    padding: -100px -100px;
}

.carrusel-item {
    min-width: 200px;
    max-width: 200px;
    height: 50px;
    cursor: pointer;
    transition: 1s;
}

.carrusel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.carrusel-item:hover {
    transform: scale(1.2);
}

/*seccion 3 clientes*/
.sec3-clientes {
    padding-top: 4em;
}

.content-area .team {
    font-size: 3rem;
    color: var(--white);
    transition: all .6s;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 35px auto;
    /* Ajusta el margen superior e inferior según sea necesario */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.team {
    position: relative;
    width: 1200%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sec3-clientes {
    text-align: center;
}

.img3 {
    margin: 15px;
    text-align: center;
    position: relative;
}

.img3 :hover {
    transform: scale(1.2);
    transition: .5s;
}

.img3 img {
    max-width: 80%;
    height: auto;
    max-height: 350px;
    /* Ajusta la altura máxima según sea necesario */
}

.img3 p {
    bottom: -20px;
    /* Ajuste de separación entre h3 y p */
}

.img3:hover h3,
.img3:hover p {
    color: #ffcc00;

}

.team {
    margin-bottom: 40px;
}















/* Este es el estilo del cursor */
.hero {
    position: relative;
}

.custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.site-wide {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
}

.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.site-wide.active .pointer {
    width: 20px;
    height: 20px;
}

.cursor-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    display: none;
}

.boxcursor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#playCursor {
    background-image: url('/img/play.png');
}

#pauseCursor {
    background-image: url('/img/pause.png');
}

/* Footer */
.footer {
    padding-top: 16em;
}

.page-wrapper {
    position: flex;
    width: 100%;
    z-index: 11111;
    top: 20px;
}

footer p,
footer strong,
footer b,
footer {
    color: #b0b0b0;
    font-size: 15px;
    line-height: 22px;
}

.footer-top {
    background: #303030 url('/img/4.jpg') center/cover;
    /* Ajusté la propiedad background y tiene una imagen de fondo*/
    padding: 30px 0 20px;
}

.footer-top,
.footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #0e3edb;
    /*color de las que dicen call*/
    color: #b0b0b0;
    /*Color de las letras del primer parrafo*/
    font-family: 'poppings', sans-serif;
}

.footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #1447ef;
    /*color del border de la caja del footer*/
    background-color: #ff8c00;
    /*color del sub footer*/
    color: #ea1818;
    /*color del 2020*/
}

.footer-site-info {
    font-size: 92.86%;
    /*tamaño de la que dice top HTML*/
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
    color: #000000;
    /*esta es la lista donde esta support*/
    padding-top: 15px;
    text-decoration: none;
}

.footer-bottom ul {
    margin: 0;
}

.inline-inside {
    /*esta es la medida donde esta la lista de support*/
    font-size: 0;
    line-height: 0;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: flex;
}

#footer-menu li {
    display: inline-block;
    padding: 0 21px;
    position: relative;
    line-height: 1;
}

#footer-menu li+li:before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0;
    font-size: 0;
    border-left: 1px solid #232234;
    /*estas son las lineas que separan la lista donde esta support*/
    border-right: 1px solid #333146;
}

#footer-socials {
    text-align: right;
    /*estas son donde estan las redes sociales*/
}

#footer-socials .socials {
    text-align: right;
    margin: 0 -7px;
    display: inline-block;
    vertical-align: middle;
}

a.socials-item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
    padding: 10px;
    border-radius: 50%;
    background-color: #141421;
    /*el fondo de las esferas de las redes*/
    border: 1px solid #2e2e4c;
    box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4), -3px -3px 10px rgba(255, 255, 255, 0.06), inset 14px 14px 26px rgb(0, 0, 0, 0.3), inset -3px -3px 15px rgba(255, 255, 255, 0.05);
}

.socials-item i {
    display: inline-block;
    font-weight: normal;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

a.socials-item:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
    color: white;
    /**esta le cambia el color al top html*/
}

.widget {
    margin-bottom: 50px;
}

.footer-title {
    margin-bottom: 40px;
    color: #fff;
    /*color de los titulos*/
    font-weight: 500;
    text-transform: capitalize;
    /*linea debajo del titulo*/
    padding-bottom: 15px;
    font-size: 16px;
    position: relative;
}

.footer-title:after {
    width: 50px;
    background: #fff;
    /*color de la linea debajo del titulo*/
    opacity: 0.2;
    height: 1px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.gem-contacts-item {
    padding-top: 10px;
    font-size: 15px;
}

.gem-contacts-item i {
    padding-right: 10px;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

.posts li {
    border-bottom: 1px solid #393d50;
    /*color de la linea debjo de sub titulos*/
    padding-bottom: 12px;
    padding-top: 6px;
}

footer p,
footer li {
    font-size: 15px;
    line-height: 22px;
}

.gem-pp-posts-date {
    color: #00bcd4;
    /*color de la parte de call*/
    font-size: 89.5%;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 15px;
}

.wpcf7-form-control-wrap .wpcf7-form-control {
    padding: 7px !important;
    width: 100%;
}

.wpcf7-form-control-wrap input {
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5), -13px -13px 23px rgba(255, 255, 255, 0.03);
    /*sombreado de la caja del formulario*/
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form-control-wrap input:hover {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5), -13px -13px 23px rgba(255, 255, 255, 0.03), inset 14px 14px 70px rgb(0, 0, 0, 0.2), inset -15px -15px 30px rgba(255, 255, 255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.wpcf7 .wpcf7-form .contact-form-footer textarea {
    height: 160px;
    width: 100%;
}

.wpcf7-form-control-wrap textarea:hover {
    background-color: transparent;
    box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5), -13px -13px 23px rgba(255, 255, 255, 0.03), inset 14px 14px 70px rgb(0, 0, 0, 0.2), inset -15px -15px 30px rgba(255, 255, 255, 0.04);
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.wpcf7-form-control-wrap textarea {
    background: #1c1f2f;
    overflow: hidden;
    border: 1px solid #2e344d;
    background-color: #1c1f2f;
    box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5), -13px -13px 23px rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    transition: all 0.3s ease-in-out 0s;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.wpcf7 .wpcf7-form .contact-form-footer .wpcf7-submit {
    width: 100%;
    padding: 11px;
    margin: 0;
    line-height: 0;
}

.wpcf7-form .contact-form-footer .wpcf7-submit {
    background-color: #394050;
    color: #99a9b5;
    border: none;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, .5);
    box-shadow: none;
    text-transform: uppercase;
    outline: none !important;
    background-color: #1c1f2f;
    border-radius: 5px;
    min-width: 140px;
    /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
    box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4), -3px -3px 10px rgba(255, 255, 255, 0.06), inset 14px 14px 26px rgb(0, 0, 0, 0.3), inset -3px -3px 15px rgba(255, 255, 255, 0.05);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #2e344d;
    transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form input[type=submit] {
    height: 40px;
    line-height: 21px;
    padding: 10px 40px;
    font-size: 14px;
}

.posts li a {
    color: #99a9b5;
    /*color de los subtitulos de la lista*/
    text-decoration: none;
}

.wpcf7-form .contact-form-footer .wpcf7-submit:hover {
    box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
    border-color: rgba(255, 6, 224, 0.61);
    background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
    color: white;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.widget_gallery a {
    display: inline-block;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

.widget_gallery ul {
    padding-left: 0;
    display: table;
}

.widget_gallery li {
    display: inline-block;
    width: 33.33%;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 2px;
}

.widget_gallery.gallery-grid-4 li {
    width: 30%;
}


#waterdrop {
    height: 30px;
}

#waterdrop canvas {
    bottom: -70px !important;
}

.footer-site-info {
    padding-top: 10px;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
    .menu {
        padding: 10px 20px;
    }

    header {
        padding: 10px 20px;
    }

    header .logo {
        font-size: 1.5em;
        width: 150px;
    }

    header ul li a {
        margin: 0 10px;
    }

    .contenedor-img {
        max-width: 50%;
    }

    .contenedor-texto {
        padding: 10rem;
    }

    .contenedor-texto .titulo {
        font-size: 35px;
    }

    .contenedor-texto .saludo {
        font-size: 24px;
    }

    .content-area .title {
        font-size: 2rem;
        margin: 30px auto;
    }

    .sec1.card {
        width: calc(50% - 20px);
        margin: -10px;
    }

    .sec1.card .content {
        width: 80%;
    }

    .sec2-opiniones .swiper-container {
        padding-top: 500px;
    }

    .swiper-slide {
        width: 250px;
    }

    .testimonialbox {
        padding: 20px;
    }

    .footer-title {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .footer-title:after {
        width: 30px;
    }
}

/*                                                          RESPONSIVE            */
/*menu hamburguesa*/
.abrir-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    /*.abrir-menu {
        display: block;
    }

    .nav ul {
        display: none;
    }*/

    .nav {
        position: absolute;
    }

    .nav-list {
        flex-direction: column;
    }
}