@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.body {
    background: url(./img/2.jpg);
    width: 100%;
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

/*Le dare diseño a la barra de scroll*/
.body::-webkit-scrollbar {
    width: 7px;
    background-color: #d35400;
}

.body::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 5px;
}

/*Este es el menu*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 50px;
}

header .logo {
    position: relative;

    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header .logo {
    width: 200px;
}

/*Esta da forma al menu en linea*/
header ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6;
}

/*Esta le da efecto al menu sin stiky*/
a {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: #262626;
    transition: .5s;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: .3s;
    }

    &:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
        transition: .3s;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            transform: scaleY(1);
            opacity: 1;
        }

        &:after {
            transform: scaleY(1);
            opacity: 1;
        }
    }
}

/*esto es para dar funcionalidad en JS*/
header.sticky {
    padding: 20px 50px;
    /* background-color: #fff; Esta linea esta en caso de que se quiera sacar el degrades*/
    background-color: rgba(0, 0, 0, 0.63);
    /*Esta es la transparencia del banner*/
}

/*Este es el banner del menú*/
header.sticky ul li a {
    color: #ffffff;
}

header.sticky ul {
    padding: 15px;
}

/*Esto le da el color a las letras al hacer hover*/
header.sticky ul li a:hover {
    color: #ffa502;
    text-shadow: 0 0 15px #d35400;
}

/*esto es para quitarle los cuadros al sticky*/
header.sticky a {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: none;
    transition: .5s;
    z-index: 1;

    &:after {
        content: none;
    }
}

/*esto es el css del codigo de las letras q se mueven y la immagen al lado*/
.main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .contenedor-img {
    max-width: 30%;
    margin-right: 50rem;
}

.img2 {
    width: 100%;
    height: 100%;
    transition: .5s;
    object-fit: cover;
}

.img :hover {
    transform: scale(1.2);
}

.contenedor-texto .titulo {
    font-size: 80px;
    font-weight: normal;
    margin-bottom: 40px;
}

.contenedor-texto .saludo {
    font-weight: bold;
    color: #ffc106;
    font-style: normal;
}

.cursorChar {
    color: #ffc106;
}

.contenedor-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem;
}


.contenedor-texto .saludo {
    font-weight: bold;
    color: #ffc106;
    font-style: normal;
}

.contenedor-texto p {
    margin-bottom: 40px;
    line-height: 36px;
}

/*Este es el menu pero el logo esto es si el logo es en texto*/
/*header .brand {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    z-index: 100000;
}
*/

/*Estas son las secciones*/
.sec1 {
    background: url(./img/1.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.sec2 {
    background: url(./img/2.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.sec3 {
    background: url(./img/3.jpeg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.sec4 {
    background: url(./img/4.jpg);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

/*Este le da tamaño y forma a las imagenes de las secciones*/
section {
    width: 100%;
    height: 100vh;
}

/*Esta es la sección donde estan los parrafos, y dentro de la misma la p, aca le doy tamaño y color a ese espacio*/
.contain {
    width: 100%;
    height: 250px;
    background: rgb(255, 255, 255);
    text-align: center;
}

/*Esta es la sección donde estan las  P, y dentro de la misma la p, aca le doy tamaño*/

.contain p {
    font-size: 2.5rem;
    font-family: "lato";
    line-height: 250px;
}

/*Esta es la primera seccion donde van las categorias*/
.sec1 {
    display: flex;
}

.servicios .card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}

.servicios .card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.servicios .card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    clip-path: circle(120px at center);
    transition: .5s;
}

.servicios .card:hover .circle:before {
    background: blue;
    clip-path: circle(400px at center);
}

.servicios .card .imgsec1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: .5s;
}

.servicios .card:hover .imgsec1 {
    left: 72%;
    height: 500px;
}

.servicios .card .content {
    position: relative;
    width: 50%;
    right: 5%;
    padding: 20px 20px 20px 40px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.servicios .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.servicios.card:hover .content h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.servicios.card:hover .content p {
    color: white;
}

.servicios .card:hover .content a {
    position: relative;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffa502;
    color: #ffffff;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

/*Responsive de la seccion 1 hay q arreglarla*/
@media (max-width: 991px) {
    .card {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 20px;
    }

    .card:hover {
        height: 600px;
    }

    .servicios .card .content {
        width: 100%;
        left: 0;
        padding: 50px;
    }

    .servicios .card:hover .imgsec1 {
        top: 90%;
        left: 50%;
        height: 300px;
    }
}

@media (max-width: 420px) {
    .servicios .card .content {
        padding: 20px;
    }
}

/*Seccion banner letras con movimiento*/
/*esto opaca las letras
.hidden {
    opacity: 0;
}
*/